header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    align-items: center;
    padding: 0 2rem;
    color: var(--text-color);
    font-size: 1.1rem;

    nav a {
        text-decoration: none;
        margin: 0 2rem;
        color: var(--text-color);

        &:hover {
            color: var(--secondary-color);
        }
    }

    .nav-btn {
        font-size: 1.6rem;
        background: transparent;
        border: none;
        color: var(--text-color);
        padding: 5px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes linksFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}

@media only screen and (max-width:1024px) {
    header {
        .nav-btn {
            visibility: visible;
            opacity: 1;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            background-color: var(--main-color);
            transition: 1s;
            transform: translateY(-100vh);

            a {
                font-size: 1.5rem;
            }

            .nav-close-btn {
                position: absolute;
                top: 2rem;
                right: 2rem;
            }
        }

        .navbar {
            transform: none;

        }

    }


}