:root{
    --main-color:#5d71c3;
    --main-color-light:#a9b3d9;
    --secondary-color:#8fdb2b;
    --text-color:#eee;
    --secondary-text-color:#000000;
    --white-color:#fff;
    --div-light:#c5cdec;
}