@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  align-items: center;
  padding: 0 2rem;
  color: var(--text-color);
  font-size: 1.1rem;
}
header nav a {
  text-decoration: none;
  margin: 0 2rem;
  color: var(--text-color);
}
header nav a:hover {
  color: var(--secondary-color);
}
header .nav-btn {
  font-size: 1.6rem;
  background: transparent;
  border: none;
  color: var(--text-color);
  padding: 5px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}

@keyframes linksFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }
  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--main-color);
    transition: 1s;
    transform: translateY(-100vh);
  }
  header nav a {
    font-size: 1.5rem;
  }
  header nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  header .navbar {
    transform: none;
  }
}
:root {
  --main-color: #5d71c3;
  --main-color-light: #a9b3d9;
  --secondary-color: #8fdb2b;
  --text-color: #eee;
  --secondary-text-color: #000000;
  --white-color: #fff;
  --div-light: #c5cdec;
}

.bigger-div {
  background-color: var(--div-light);
  margin: auto;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bigger-div .inner-div {
  background-color: var(--white-color);
  width: 92%;
  height: 15rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 23% 23% 23% 18%;
  gap: 0.5rem;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);
}
.bigger-div .inner-div div {
  margin-top: 30px;
  width: 100%;
}
.bigger-div .inner-div label {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 0.4rem;
  padding-left: 0.2rem;
}

input {
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  background-color: var(--main-color-light);
  outline: none;
  color: var(--text-color);
  width: 100%;
  padding: 6px;
  font-weight: 300;
}
input::-moz-placeholder {
  font-weight: 400;
  opacity: 0.5;
}
input::placeholder {
  font-weight: 400;
  opacity: 0.5;
}
input:focus {
  outline: none;
}

.search-btn {
  padding-left: 0.5rem;
  padding-top: 24px;
}
.search-btn button {
  width: 60%;
  background-color: var(--main-color);
  border: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: var(--text-color);
  cursor: pointer;
}

@media only screen and (max-width: 740px) {
  .bigger-div {
    height: 35rem;
  }
  .bigger-div .inner-div {
    height: 30rem;
    display: grid;
    grid-template-columns: 80%;
    gap: 0.1rem;
  }
}
.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -2px;
  transition: 0.3s;
  animation: ease-in;
  margin: 1rem;
  border-radius: 0.5rem;
}
.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
  cursor: pointer;
}
.card-container .card-content {
  margin: 1.3rem;
  margin-top: 1.5rem;
}
.card-container .card-content .card-title {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.card-container .card-content .card-title h3,
.card-container .card-content .card-title p {
  margin: 0;
  padding: 0;
}
.card-container .card-content .image-container {
  margin-top: 1rem;
}
.card-container .card-content .image-container img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
}
.card-container .btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-container .btn button {
  padding: 0.5rem;
  background-color: var(--main-color);
  border: none;
  transition: 0.2s;
  margin-bottom: 1rem;
  width: 80%;
  border-radius: 0.5rem;
}
.card-container .btn button:hover {
  background: rgba(115, 178, 13, 0.2);
  cursor: pointer;
}

.container {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */